body{
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container-fluid .navbar-brand{
    color: whitesmoke;
    font-size: 30px
}

.navbar-nav li a{
    color:whitesmoke;
}

header{
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    font-family: 'Inter', sans-serif;
}

#logo{
    height: 100px;
}

.login-caja{
    width: 400px;
    background: #3895b9;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
    border-radius: 10%;
}
.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}

.login-caja .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

.botons:hover{
    font-weight: bold;
}

  footer{
    font-family: 'Inter', sans-serif;
    display: flex;
    background-image: none;
    background-color: grey;
    min-height: 100px;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

a:visited{
    color: #000;
}

a:hover{
    color:white;
}